<h1> <%= @user.username %> </h1>
<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user do |f| %>
<p>Edit Username:
  <%= f.text_field :username, autofocus: true, :class => "form-control", :placeholder => "User Name" %>
</p>
<p>Edit First Name:
  <%= f.text_field :first_name, autofocus: true, :class => "form-control", :placeholder => "First Name" %>
</p>
<p>Edit Last Name:
  <%= f.text_field :last_name, autofocus: true, :class => "form-control", :placeholder => "Surname" %>
</p>
<p>Edit Email:
  <%= f.text_field :email, autofocus: true, :class => "form-control", :placeholder => "Email Address" %>
</p>
<p>Edit games you are currently interested in:
<%= f.collection_check_boxes :game_ids, Game.all, :id, :name %>
</p>
<p>Add A Bio
  <%= f.text_area :bio %>
  </p>
  <br>
<%= f.submit %>
<% end %>
<br>

<p> <%= link_to "Return to Profile", user_path %> </p>
