<h1 class="text-center display-4"> <%= @user.username %> </h1>
<br>
<p>Name: <%= @user.full_name %></p>
<p>Email: <%= @user.email %></p>
<p>Games Interested In:</p>
<ul>
  <% @user.games.map do |game|  %>
  <li> <%= link_to game.name, game_path(game) %> </li>
  <% end %>
</ul>
<p>Tournaments Entered:</p>
<ul>
  <% @user.tournaments.map do |tournament|  %>
  <li> <%= link_to tournament.name, tournament_path(tournament) %> </li>
  <% end %>
</ul>
<br>
<div id="user-bio">
  <h4>Bio:</h4>

  <%= @user.bio %>
</div>
