






<h1 class="text-center display-4"> <%= @user.username %> </h1>
<br>

<p>Name: <%= @user.full_name %></p>
<p>Email: <%= @user.email %></p>
<p>Password: ******** </p>
<br>

<div id="user-bio">
  <h1>Bio:</h1>

  <%= @user.bio %>
</div>






<p>Games Interested In:</p>
<ul>
  <% @user.games.map do |game|  %>
  <li> <%= link_to game.name, game_path(game) %> </li>
  <% end %>
</ul>
<p>Tournaments Entered:</p>



<br>
<p><%= link_to "Edit your profile", edit_user_path %></p>
<p> <%= link_to "Return to User List", users_path %> </p>
