<header >
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('/images/games/lol-hero-1.jpg')">
        <div class="carousel-caption d-none d-md-block">

          <div class="row">
            <div class="col">
              <div class="home-blockquote">

                <blockquote class="blockquote text-left">
                  <p class="mb-0">
                    <em>Spin to win, baby!.</em>
                  </p>
                  <footer class="blockquote-footer">Steve Courtier<cite title="Source Title">
                      LoL</cite>
                  </footer>
                </blockquote>
              </div>
            </div>
            <div class="col-6">
              <h3><a href="/games/1"><img class="lol-image-overlay" src="/images/games/LoL-icon.png" border="0" alt=""></a></h3>
            </div>
            <div class="col">
              <!-- Leave Me Blank. RIGHT SIDE Col -->
            </div>
          </div>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('/images/games/SC-hero.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3><a href="/games/2"><img class="sc-image-overlay" src="/images/games/SC-logo-bottom.png" border="0" alt=""></a></h3>
        </div>
      </div>

      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('/images/games/CS-GO.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="playfair-font">Coming Soon</h3>
        </div>
      </div>

    </div>

    <!-- Carousel Buttons -->
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<br>

<div class="container">

  <!-- Coming Up Section -->

  <div class="coming-up-area">

    <h1 class="display-4 coming-up-title text-center">Upcoming Tournaments</h1>
    <br>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header"><%= tournament_dates.first %></h4>
          <div class="card-body">
            <ul>
              <p class="card-text">
                <% tournament_array.each do |tournament| %>
                  <% if tournament.date == tournament_dates.first %>
                    <li><%= link_to tournament.name, tournament_path(tournament) %></li>
                  <% end %>
                <% end %>
              </p>
            </ul>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header"><%= tournament_dates.second %></h4>
          <div class="card-body">
            <ul>
              <p class="card-text">
                <% tournament_array.each do |tournament| %>
                  <% if tournament.date == tournament_dates.second %>
                    <li><%= link_to tournament.name, tournament_path(tournament) %></li>
                  <% end %>
                <% end %>
              </p>
            </ul>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header"><%= tournament_dates.third %></h4>
          <div class="card-body">
            <ul>
              <p class="card-text">
                <% tournament_array.each do |tournament| %>
                  <% if tournament.date == tournament_dates.third %>
                    <li><%= link_to tournament.name, tournament_path(tournament) %></li>
                  <% end %>
                <% end %>
              </p>
            </ul>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid home-signup">
    <div class="container">
      <h1 class="display-4 playfair-font text-center">Sign Up</h1>
      <br>
      <p class="lead text-center">Mark your place in the Flatiron School London's weekly gaming session, every Friday.</p>
      <div class="text-center">
        <a href="/users/new" class="btn btn-lg btn-primary">Register Now</a>
      </div>
    </div>
  </div>


  <!-- /.row -->

  <!-- Portfolio Section -->
  <!-- <h2>More shit...</h2>


  <div class="row">
  <div class="col-lg-4 col-sm-6 portfolio-item">
    <div class="card h-100"> <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Project One</a> </h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum
          tempora ex quae? Nihil, dolorem!</p>
      </div>
    </div>
  </div>


  <div class="col-lg-4 col-sm-6 portfolio-item"> <div class="card h-100"> <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a> <div class="card-body"> <h4
  class="card-title"> <a href="#">Project Two</a> </h4> <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p> </div> </div> </div> <div class="col-lg-4
  col-sm-6 portfolio-item"> <div class="card h-100"> <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a> <div class="card-body"> <h4 class="card-title"> <a href="#">Project Three</a> </h4> <p class="card-text">Lorem
  ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p> </div> </div> </div> <div
  class="col-lg-4 col-sm-6 portfolio-item"> <div class="card h-100"> <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a> <div class="card-body"> <h4 class="card-title"> <a href="#">Project Four</a> </h4> <p
  class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p> </div> </div> </div> <div class="col-lg-4 col-sm-6 portfolio-item"> <div class="card h-100"> <a
  href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a> <div class="card-body"> <h4 class="card-title"> <a href="#">Project Five</a> </h4> <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
  viverra euismod odio, gravida pellentesque urna varius vitae.</p> </div> </div> </div> <div class="col-lg-4 col-sm-6 portfolio-item"> <div class="card h-100"> <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a> <div
  class="card-body"> <h4 class="card-title"> <a href="#">Project Six</a> </h4> <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque,
  sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p> </div> </div> </div> </div> -->
  <!-- /.row -->

  <!-- Interview Section - 2 columns -->


<div class="home-interview-section">
  <div class="row">
    <div class="col">
      <h2 class="interview-title">An Interview With...</h2>
      <h5 class="display text-right interview-name">Ryan "Camilla Barker-Bowles" Barker.</h5>
      <br>
      <p>Barker's rise to the top of Flatiron School's League of Legend's leaderboard has shown him to take no prisoners and no mercy to those that get in his way...</p>
    </div>
    <div class="col">
      <img class="img-fluid rounded" src="http://i66.tinypic.com/2mdkzgp.jpg" alt="">
    </div>
  </div>

  <!-- /.row -->

  <hr>

  <!-- Call to Action Section -->

  <!-- <div class="row mb-4">
    <div class="col-md-8">
      <p>What a brilliant site. I bet it was a delight to visit. Come back again soon.</p>
    </div>
    <div class="col-md-4">
      <a class="btn btn-lg btn-secondary btn-block" href="#">This is a button :)</a>
    </div>
  </div> -->



  <!-- Three Column Layout -->


  <div class="row home-3-column-row">
   <div class="col-sm">
     <h5 class="">Upcoming Games:</h5>
     <ul>
       <li>Quake Arena</li>
       <li>CS:GO</li>
       <li>Age of Empires</li>
     </ul>


  </div>
   <div class="col-sm">
     <h5>Breaking News:</h5>
       <p>Leading Scientists find cure for poor gaming performance.</p>
       <p>Could a diet of pizza, onion rings and mountain dew actually add years on to your life? Doctors say !yes.</p>
       <p>Are you spending too much time on the internet? According to psychologists, the fact you are reading this section of our website suggests you in fact do!</p>
   </div>
   <div class="col-sm">
     <a class="twitter-timeline" data-width="300" data-height="400" href="https://twitter.com/FlatironSchool?ref_src=twsrc%5Etfw">Tweets by FlatironSchool</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
   </div>
 </div>



</div>
