<% if @game.id == 1 %>
  <br>
  <img class="show-page-logo center-block" src="/images/games/LoL-logo.png" width="580" height="200" alt="LoL logo">
  <br><br>
  <h5><%= @game.tag_line %></h5>
  <p><%= @game.bio_paragraph_1 %></p>
  <p><%= @game.bio_paragraph_2 %></p>
  <p><%= @game.bio_paragraph_3 %></p>
<% elsif @game.id == 2 %>
  <br>
  <img class="show-page-logo center-block" src="/images/games/SC-logo.png" alt="SC logo">
  <h5><%= @game.tag_line %></h5>
  <p><%= @game.bio_paragraph_1 %></p>
  <p><%= @game.bio_paragraph_2 %></p>
  <p><%= @game.bio_paragraph_3 %></p>
  <p><em>Download it now for free <a href="https://us.shop.battle.net/en-us/product/starcraft">here.</a></em></p>
<% elsif @game.id == 3 %>
  <br>
  <img class="show-page-logo center-block" src="/images/games/cambio.png
  " width="580" height="260" alt="Cambio">
  <br><br>
  <h5><%= @game.tag_line %></h5>
  <p><%= @game.bio_paragraph_1 %></p>
  <p><%= @game.bio_paragraph_2 %></p>
<% end %>
<br>
<% if logged_in? %>
  <h5>Players Interested In <%= @game.name %>: </h5>
  <ul>
    <% @users.each do |user| %>
    <li><%= link_to user.full_name, user_path(user) %></li>
    <% end %>
  </ul>
<% else %>
<p> To see the players who are currently interested in this game, please
  <%= link_to "Login",login_path %> or
  <%= link_to "Sign Up", new_user_path %>
</p>
<% end %>
